body {
  background-color: CadetBlue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#titulotabla {
  color: DarkSlateGray;
}

#contenidotabla {
  color: DarkSlateGray;
}
#nivel 
{
  color: darkslategray;
}
